[Unit]
Description=Persist DEVICE env to /etc/default/device for ubnt-tools
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/init_device.sh

[Install]
WantedBy=basic.target
