[Unit]
Description=Write /etc/default/storage_disk for ustorage/mdadm/smartctl shims
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/storage_disk.sh

[Install]
WantedBy=basic.target
